# Created by .ignore support plugin (hsz.mobi)

/025/p022_names.txt
/050/p042_words.txt
/075/p054_poker.txt
/075/p059_cipher.txt
/100/p079_keylog.txt
/100/p099_base_exp.txt
/100/p081_matrix.txt
*.fasl
*.beam
